<?php
return array(
    'modules' => array(
        'ZfPersistenceBase',
    ),
    'module_listener_options' => array(
        'module_paths' => array(
        	'src',
        ),
    ),
    'service_manager' => array(
        'factories' => array(
            'ZfPersistence\UserRepository' => 'ZfPersistenceBase\Infrastructure\MemoryRepositoryFactory'
        )
    )
);